body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

a {
  font-size: inherit;
  text-decoration: none;
  cursor: pointer; 
}

button {
  font-family: inherit;
}

/* Grids */

body > .container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "main"
  ;
}

#top-bar {
  grid-area: header;
}

main {
  grid-area: main;
}

/* header */
#top-bar {
  color: var(--neutral-800);
  background-color: var(--neutral-100);
  padding: 0.5em;
  font-size: 2.5em;
  box-shadow: 0px 3px 0px var(--neutral-300);
}

#top-bar p {
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "buttons"
    "books"
  ;
  gap: 2em;
  background-color: var(--neutral-200);
  padding: 3em 2em 3em 2em;
}

#buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#books {
  grid-area: books;
  display: grid;
  grid-template-rows: 1fr;
  gap: 2em;
}

button-component#add-button::part(button) {
  background-color: inherit;
  font-size: 1.50em;
  font-weight: 700;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 15px;
}

button-component#add-button::part(button):hover {
  background-color: var(--neutral-300)
}

#new-book-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  padding: 2em;
  background-color: var(--neutral-100);
  border-radius: 15px;
  gap: 1em;
  font-size: 1em;
  font-weight: 300;
}

#new-book-form > * {
  width: 100%;
  margin: auto;
}

#new-book-form > div:not(:nth-of-type(4)) {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

#new-book-form > div:nth-of-type(4) {
  text-align: center;
}

#new-book-form input {
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
}

#new-book-form > p {
  font-size: 1.8em;
  text-align: center;
  font-weight: 500;
}

#new-book-form button {
  border-radius: 15px;
  padding: 1em 0 1em 0;
  font-size: inherit;
  background-color: var(--green-300);
  border: none;
  cursor: pointer;
}

#new-book-form button:hover {
  background-color: var(--green-400);
} 

/* Responsive books grid */
/* XS */
@media only screen and (min-width:  0px) and (max-width: 640px) {
  #books {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* SM */
@media only screen and (min-width:  640px) and (max-width: 768px) {
  #books {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* MD */
@media only screen and (min-width:  768px) and (max-width: 1024px) {
  #books {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* LG */
@media only screen and (min-width:  1024px) and (max-width: 1280px) {
  #books {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* XL */
@media only screen and (min-width:  1280px) and (max-width: 1536px) {
  #books {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/* 2XL */
@media only screen and (min-width:  1536px) {
  #books {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}